.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 25px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.navbar-items{
    display: flex;
    justify-content: space-between;
    width: 60%;
    list-style-type: none ;
}
.bodytags{
    display: flex;
    justify-content: space-between;
}